{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "react-app",
    "airbnb",
    "prettier"
  ],
  "plugins": ["react", "prettier"],
  "parserOptions": {
    "ecmaVersion":  2018,
    "sourceType":  "module",
    "ecmaFeatures": {
      "jsx":  true
    }
  },
  "rules":  {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "jsxSingleQuote": true,
        "trailingComma": "all"
      }
    ],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/function-component-definition": [2, { "namedComponents": "arrow-function" }],
  }
}
